.DS_Store
dist/electron/*
dist/web/*
client/build/*
!client/build/icons
coverage
**/node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
**/yarn-error.log
server/server.bundle.js
terraform/credentials
terraform/.terraform
*.zip